.textField:focused {
    -fx-background-image: inherit;
}

.textField {
    -fx-background-image: url("/images/fields/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}