.textField {
    /*-fx-background-image:url("images/buttons/user.png");*/
    -fx-background-color: #005797;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20;
}