<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--<session-factory>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="hibernate.show_sql">true</property>-->

        <!-- Assume test is the database name -->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hiber?autoReconnect=true&amp;u‌​seSSL=false</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_test?u‌​seSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">32167</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--<property name="hibernate.connection.username">root</property>-->
        <!--<property name="hibernate.connection.password">32167</property>-->

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.andrey.main.dl.models.Flight"/>
        <mapping class="com.andrey.main.dl.models.Passenger"/>
        <mapping class="com.andrey.main.dl.models.Ticket"/>
        <mapping class="com.andrey.main.dl.models.UserEntity"/>
        <mapping class="com.andrey.main.dl.models.Arrivals"/>
        <mapping class="com.andrey.main.dl.models.Departures"/>
        <mapping class="hibernametest.dao.Tickets"/>
        <mapping class="hibernametest.model.Flights"/>
        <!--<mapping class="hibernametest.model.FlightArivalls"/>-->
        <!--<mapping class="hibernametest.model.FlightDepartures"/>-->

    </session-factory>
</hibernate-configuration>